QWidget {
    background-color: #000000;
    color: #ffffff;
    font-family: "Courier New";
}
QPushButton {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0px;
    padding: 4px;
}
QPushButton:hover {
    background-color: #ffffff;
    color: #000000;
}
QListWidget {
    background-color: #000000;
    border: 2px solid #ffffff;
}